{{ if .Params.is_new }}
  {{ partial "single/style.html" . }}
  <table align="center" id="bodyTable">
    <tr>
      <td align="center" valign="top" id="bodyCell">
        {{ partial "single/title.html" . }}
        {{ partial "single/thumbnail.html" . }}
        {{ partial "single/line.html" }}
      </td>
    </tr>
    <tr>
      <td valign="top" id="templateBody" >
        {{ partial "single/events.html" . }}
        {{ partial "single/line.html" . }}
        {{ .Content }}
      </td>
    </tr>
    <tr>{{ partial "single/footer" . }}</tr>
  </table>
{{ else }}
  {{ partial "single/legacy-style.html" . }}
  {{ .Content }}
{{ end }}
