<style>
  p{
    margin:10px 0;
    padding:0;
  }
  #bodyCell{
    padding:10px;
  }
  body,#bodyTable{
    background-color:#FAFAFA;
  }
  #bodyCell{
    border-top:0;
    padding: 10px;
  }
  .templateContainer{
    border:0;
  }
  h1{
    color:#202020;
    font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:26px;
    font-style:normal;
    font-weight:bold;
    line-height:125%;
    letter-spacing:normal;
    text-align:left;
  }
  h2{
    color:#202020;
    font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:22px;
    font-style:normal;
    font-weight:bold;
    line-height:125%;
    letter-spacing:normal;
    text-align:left;
  }
  h3{
    color:#202020;
    font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:20px;
    font-style:normal;
    font-weight:bold;
    line-height:125%;
    letter-spacing:normal;
    text-align:left;
  }
  h4{
    color:#202020;
    font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:18px;
    font-style:normal;
    font-weight:bold;
    line-height:125%;
    letter-spacing:normal;
    text-align:left;
  }
  #templateBody{
    background-color:#ffffff;
    background-image:none;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    border-top:0;
    border-bottom:2px solid #EAEAEA;
    padding-top:0;
    padding-bottom:9px;
  }
  #templateBody hr {
    border-style: inherit;
    border-color: #EAEAEA;
    border-width: 2px;
    margin: 18px auto;
    width: calc(100% - (18px * 2));
    display: block;
  }
  #templateBody .section {
    padding: 0 16px;
  }
  #templateBody p {
    color:#202020;
    font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:16px;
    line-height:150%;
    text-align:left;
  }
  #templateBody .columns-wrapper .mcnTextContent p {
    color:#F2F2F2;
  }
  #templateBody a, #templateBody p a {
    color:#3f6bd7;
    font-size: 18px;
    font-weight:normal;
    text-decoration:none;
  }

  #templateBody .webinars .webinar {
    background-color: #404040;
    padding: 18px;
    float:left;
    text-align: center;
    word-break: break-word;
    margin: 0 30px 25px 0;
  }

  #templateBody .webinars .webinar p {
    color: #F2F2F2;
  }

  #templateBody .section a {
    display: block;
  }

  #templateBody .webinar .btn {
    background-color: #3f6bd7;
    color:#F2F2F2;
    display: block;
    padding: 14px 28px;
    margin: 0 auto;
    width: 80%;
  }
</style>
