{{ define "main" }}
<div class="overview">
  <p>The weekly newsletters for all things Kubernetes.</p>
  <p>KubeWeekly is curated by Bob Killen, Chris Short, Kaitlyn Barnard, and Michael Hausenblas</p>
  <p>Interested in submitting an article? Send it to us at kubeweekly@cncf.io </p>
</div>
<main class="main list" role="main">
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{- range first 1 $pages }}
		{{ .Content }}
	{{- end }}
</main>
{{ end }}
